<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%=currentuids[0].uname%>'s Calendar</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
     <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script> 
    <style type="text/css">
    body {
      margin: 0;
      background-color: rgb(170, 172, 198);
    }
    .main {
      top: 145px;
      left: 210px;
      width: 90%;
      height: 90%;
      position: fixed;
      overflow: scroll;
      float: left;
      content: "";
  display: table;
  clear: both;
    }
    .left {
      width: 60%;
    }
    .right {
      width: 40%;
    }
    .body {
        display: inline-block;
        min-width: calc(100% - 130px - 5px);
        max-width: calc(100% - 100px - 5px);
        text-align: center;
        vertical-align: top;
    }
    .calendar {
        display: inline-block;
        width: 1000px;
        height: 900px;
        margin-top: 150px;
        margin-bottom: 150px;
        padding: 15px;
        border: 1px solid #CCC;
        border-radius: 10px;
        vertical-align: top;
    }

    #calendar {
        background-color: white;
    }
    .calendar .current {
        width: calc(100% - 20px);
        position: relative;
        padding: 5px;
        border-bottom: 1px solid #000;
    }
    .calendar .current .btn {
        width: 30px;
        display: inline-block;
        position: absolute;
    }
    .calendar .current .btn-prev {
        left: 0;
    }
  
    .calendar .current .btn-next {
        right: 0;
    }
    .calendar .current .year-month {
        display: inline-block;
        max-width: 300px;
        font-size: 20px;
        font-weight: 700;
    }
    .calendar .current .fa {
        font-size: 30px;
    }
    .calendar .header .week-day {
        font-weight: 700;
    }
    
    #calendar .header .week-day {
        display: inline-block;
        width: 130px;
        height: 10px;
        border: 1px solid rgba(200,200,200,0);
        margin: 2px 5px;
       
    }
    .calendar .dates .row .digit {
        display: inline-block;
        width: 130px;
        height: 120px;
        border: 1px solid rgba(200,200,200,0);
        margin: 2px 5px;
       
    }
    
    .calendar .dates .row .digit-placeholder {
        display: inline-block;
        width: 130px;
        height: 120px;
        border: 1px solid rgba(200,200,200,0);
        margin: 2px 5px;
       
    }
    
    .calendar .dates .row .digit.selected {
        
        color: #FFF;
    }
    .calendar .dates .row .digit.active {
        color: red;
    }

    </style>
</head>
<body>
    <div><%- include ("../partials/pageNav.ejs") %></div>
    <div class="body">
    
        <div class="calendar" id="calendar">
            <div class="current">
                <div class="btn btn-prev" v-on:click="previous()"><i class="fa fa-angle-left"></i></div>
                <div class="year-month">{{ currentYearMonthFn() }}</div>
                <div class="btn btn-next" v-on:click="next()"><i class="fa fa-angle-right"></i></div>
            </div>
            <div class="header">
                <div class="week-day" v-for="d in locale_week">{{ d }}</div>
            </div>            
            <div class="dates">
                <div class="row" v-for="row in getAllDatesOfCurrentMonth()" >                    
                    <div :class="digitKlass(d)" v-for="d in row" style="margin:5px;" >                        
                        {{ d ? '' : '&nbsp' }}
                        &nbsp;
                        <form  action="/:<%= currentuids[0].uid%>/calendaraddimg" method="post"> 
                            <input type="hidden" name="days" v-model="d" value="d"> 
                            <input type="hidden" name="months" v-model="current_month" value="current_month"> 
                            <input type="hidden" name="years" v-model="current_year" value="current_year"> 
                            <button  v-if="d!=''" type="submit" style=" cursor: pointer;border: none;text-align: center;background-color: white; font-size: 20px;">{{d}}</button>
                        </form>
                        <% if(results.length>0) { %>
                        <% results.forEach(function(r) { %>
                        <div v-if="d == <%= r.day%> && current_year == <%= r.year%> && current_month == <%= r.month%>"> 
                        <img style="display:block; right:5px" width="100px" height="100px" src="data:image/gif;base64,<%= r.txtimg%>">           
                        </div> 
                        <% }); %>
                        <% }; %> 
                 
                    </div>         
                           
                </div>
            </div>      
        </div>
    </div>


    <script type="text/javascript">

    var date = new Date;
    var vueInst = new Vue({
        el: '.body',
        data: {
            locale_week: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            origin_year:  date.getYear() + 1900,
            origin_month: date.getMonth() + 1,
            origin_date: date.getDate(),
            current_year: date.getYear() + 1900,
            current_month: date.getMonth() + 1,
            current_date: date.getDate(),
            images: [],
            current_date_dom: null,
        },

        methods: {
            currentYearMonthFn: function() {
                if (this.current_month >= 10) {
                    return this.current_year + '-' + this.current_month;
                } else {
                    return this.current_year + '-0' + this.current_month;
                }
            },
            getAllDatesOfCurrentMonth: function() {
                var current = new Date(this.current_year + '-' + this.current_month);
                var weekday = current.getDay();
                var days    = new Date(this.current_year, this.current_month, 0).getDate();
                var dates = [], dates2 = [];
                for(var i = 1; i <= days; ++i) {
                    dates2.push(i < 10 ? (i) : ('' + i));
                }
                for(var i = 0; i < weekday; ++i) {
                    dates2.unshift('');
                }
                while(dates2.length % 7 > 0) {
                    dates2.push('');
                }
                while(dates2.length > 0) {
                    dates.push(dates2.splice(0, 7));
                }
                return dates;
            },
            previous: function() {
                if(this.current_month == 1) {
                    this.current_year--;
                    this.current_month = 12;
                } else {
                    this.current_month--;
                }
            },
            next: function() {
                if(this.current_month == 12) {
                    this.current_year++;
                    this.current_month = 1;
                } else {
                    this.current_month++;
                }
            },
            digitKlass: function(day) {
                var klass = 'digit';
                if(day == '') {
                    klass = 'digit-placeholder';
                } else {
                    if(this.current_year == this.origin_year
                        && this.current_month == this.origin_month
                        && day == this.origin_date) {// current day
                        klass += ' active';
                    }
                }
                return klass;
            },
                 
        },
    });

    </script>
</body>
</html>
