<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Users Img</h1>
        <% results.forEach(function(r) { %>
        <img src="data:image/gif;base64,<%= r.txtimg%>" width="200" height="200" alt="">
        <div>
            <form action="/:<%= r.uid %>/:<%= r.imgid%>/:<%= r.iflike%>/clickLike" method="post">
            <li>
                <%= r.uid %>
                <input type="submit" value="clickLike">
            </li>
            <li><%= r.likenum %></li>
            <br>
            </form>
        </div>
        <% }); %>
    </body>
</html>