<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <div id="fb-root"></div>
        <!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v13.0" nonce="XB0qme61"></script> -->
        <style>
            body {
                margin: 0;
                background-color: rgb(170, 172, 198);
             }
             div{
                position:relative;
                margin-left: 50px;
                margin-left: 50px;
                margin-right: 50px;
             }
             li{
                 list-style-type: none;
             }
        </style>
    </head>
    <body>
        <%- include ("../partials/pageNav.ejs") %>
        <br><br><br><br><br><br><br>

        <h1>Users Img</h1>
       
        <% results.forEach(function(r) { %>
        <div>
            <img src="data:image/gif;base64,<%= r.txtimg%>" width="200" height="200" alt="">
            <form action="/:<%= currentuids[0].uid%>/:<%= r.imgid%>/clickLike" method="post">
            <p>
                User Name: <%= r.uname %>
                <br>
                <input type="submit" value="clickLike">
            </p>
            <!-- <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div> -->
            <p>Like Number: <%= r.likenum %></p>
            <br>

            </form>

            <form action="/:<%= currentuids[0].uid%>/:<%= r.imgid%>/comment" method="post">
                Comments: <input type="text" name="comments"  required>
                <input type="submit" value="submit comment">
                <p>
                <% usercomments.forEach(function(r1) { %>
    
                    <% if (r.imgid == r1.imgid) { %>
                        <%= r1.uname %>
                        :
                        <%= r1.imagecomment %>
                        <br>
                    <% } %>

                <% }); %>
                </p>
            </form>
        </div>
        <% }); %>
    </body>
</html>