<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outfit Collages</title>
    <style>
        body {
            margin: 0;
            background-color: rgb(170, 172, 198);
        }
        
        .outfitContent {
            margin-left: 160px;
            padding: 1px 16px;
            overflow: scroll;
            width: 50%;
            border-collapse: collapse;
            height: 700px;
        }

        table,
        th,
        td {
            border: 1px solid black;
            width: 220px;
            padding: 5pt;
        }
    </style>
    <!-- <link rel="stylesheet" href="./stylesheets/outfit.css"> -->
</head>

<body>

    <%- include ("../partials/pageNav.ejs") %>
        <div class="sidenav">
            <br><br><br><br><br><br><brs>
            <% r=results[0];  %>
                <div class="" id="outfits-img" style="margin-left: 200px ;">
                    <img src="data:image/gif;base64,<%= r.txtimg %>" style="padding: 15px;" draggable="true"
                        class="imageDraggable <%= r.category_type%>" width="200" height="200" alt="">

                    <div>
                        <table>
                            <tr>
                                <th>Owner</th>
                                <td>
                                    <%= r.uname %>
                                </td>
                            </tr>
                            <tr>
                                <th>ImageID</th>
                                <td>
                                    <%= r.imgid %>
                                </td>
                            </tr>

                            <tr>
                                <th>Category</th>
                                <td>
                                    <%= r.category_type %>
                                </td>
                            </tr>
                            <tr>
                                <th>Public</th>
                                <td>
                                    <%= r.public %>
                                </td>
                            </tr>

                        </table>
                        <br><br>
                        <form action="/:<%= currentuids[0].uid %>/outfits/:<%= r.imgid %>" method="post">
                            <fieldset style="width:200px; padding: 5pt;">
                                <label for="category">Choose a Type:</label>
                                <select name="category" id="categoryid">
                                    <option selected="selected"><%= r.category_type %></option>
                                    <option value="Shirts">Shirts</option>
                                    <option value="Coats">Coats</option>
                                    <option value="Suits">Suits</option>
                                    <option value="Sweaters">Sweaters</option>
                                    <option value="Pants">Pants</option>
                                    <option value="Jeans">Jeans</option>
                                    <option value="Shoes">Shoes</option>
                                    <option value="Bags">Bags</option>
                                    <option value="Accessories">Accessories</option>
                                    <option value="Others">Others</option>
                                </select>
                                <label for="public">Post it to public place ?</label>
                                <select name="public" id="publicboolean">
                                    <%if(r.public==true){%>
                                    <option selected="selected">Yes</option>
                                    <%}%>
                                    <%if(r.public==false){%>
                                        <option selected="selected">No</option>
                                        <%}%>
                                    <option value="false">No</option>
                                    <option value="true">Yes</option>                                    
                                </select>
                                <button type="submit" style="float:right;">Change Attributes</button>
                                <button type="submit" formaction="/:<%= currentuids[0].uid %>/outfits/:<%= r.imgid %>/delete" style="float:right;">Delete This Outfit</button>                                 
                            </fieldset>
                        </form>
                        
                    </div>
                    
</body>

</html>